@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand';
  color: #333;
  padding: 2px;
}

.todo-wrapper {
  text-align: center;
}

.heading {
  border: 1px solid rgb(0, 104, 130);
  text-align: center;
  border-radius: 3px;
  padding: 7px;
  margin: 0 200px;
  color: rgb(0, 104, 130);
}

.input-todo {
  padding: 10px;
  margin-top: 40px;
  height: 15px;
  width: 400px;
}

.add-btn {
  margin-left: 20px;
  background-color: rgb(0, 104, 130);
  color: aliceblue;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
}

.edit-btn {
  margin-left: 20px;
  background-color: rgb(7, 158, 70);
  color: aliceblue;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
}

.add-btn:hover {
  background: rgb(5, 170, 162);
}

.todo-list {
  display: flex;
  justify-content: space-between;
  margin: 30px 200px;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  padding: 15px 10px;
  border-radius: 4px;
}

.delete-btn {
  background: red;
  color: #fff;
  outline: none;
  border: none;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
}

.delete-btn:hover {
  background: rgb(240, 22, 22);
}
